[submodule "ryusupov_h/libftt"]
	path = ryusupov_h/libftt
	url = https://github.com/YusuCoder/libft.git
[submodule "ryusupov_h/printf"]
	path = ryusupov_h/printf
	url = https://github.com/YusuCoder/printf.git
[submodule "push_swap_visualizer"]
	path = push_swap_visualizer
	url = https://github.com/o-reo/push_swap_visualizer.git
